<div class="my-card">
  <div class="my-card-header">
      <h3 class="my-card-title text-center">会員証</h3>
  </div>
  <div class="my-card-profile">
    <div class="my-card-name">
      <p class="profile profile-kana"><%= @customer.last_name_kana %>&nbsp;<%= @customer.first_name_kana %></p>
      <p class="profile profile-name"><%= @customer.last_name %>&nbsp;<%= @customer.first_name %></p>
    </div>

    <div class="my-card-birthday">
      <p class="profile">生年月日： <%= @customer.birth.strftime("%Y年%m月%d日") %>
      &nbsp;ご年齢：&nbsp;<%= @customer.age %> 歳</p>
    </div>


    <div class="my-card-contact">
      <table class="profile">
        <tr>
          <th>TEL:</th>
          <td><%= @customer.tel_number %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>&#12306;:</th>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <th>住所:</th>
          <td><%= @customer.join_address %></td>
        </tr>
      </table>
    </div>
  </div>

    <div class="my-card-footer">
      <span class="my-card-logo">MIDNIGHT BAR</span>
    </div>  
</div>

<div class="a">
  <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-primary" %>
</div>