<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col my-4">
      <p class="admin-nav"><%= link_to "管理者ホーム", admin_root_path %> | <%= link_to "商品追加", new_admin_item_path %> | <%= link_to "タグ一覧", admin_tags_path %></p>
    </div>
    <div class="col">
    </div>
  </div>
</div>




<h2>商品一覧</h2>

<% @items.each do |item| %>
  <h5>品名:<%= link_to item.item_name,admin_item_path(item.id) %></h5>
  <p>商品説明:<%= item.item_text %></p>
  
  <p>タグリスト:
    <% item.tags.each do |tag| %>
    <div>
        <%= link_to tag.tag_name,search_tag_admin_items_path(tag_id: tag.id) %>
        <!--コントローラで、tag_idを取得して、ブロック変数tag_listのidを表示-->

        <%= "(#{tag.items.count})" %>
      </div>
    <% end %>
  </p>

  <p>&yen;<%= item.on_tax_price %>(税込み)</p>
  <p>在庫数:<%= item.stock %></p>
  <p>販売ステータス<%= item.sale_status %></p>

<% end %>