<div class="container-fluid">

   <div class="text-center my-4">
   <p class="admin-nav"><%= link_to "管理者ホーム", admin_root_path %> | <%= link_to "商品追加", new_admin_item_path %> | <%= link_to "タグ一覧", admin_tags_path %></p>
  </div>
  <div class="text-center my-5">
    <h2><%= @index %>一覧</h2>
  </div>

  <!--画面右に固定する-->
  <div id="position-right">
    <%= link_to admin_items_path do %>
      <div class="right-menu">商品一覧</div>
    <% end %>
    <a class="button-link"><div id="modal-open" class="right-menu">タグ検索</div></a>
   
    <a href="#"><div id="top-upper" class="right-menu">TOPへ</div></a>
  </div>

  <!--タグ一覧はモーダルウィンドウで表示する-->
  <div id="modal-tag">
    <p id="modal-close"><a class="button-link py-3">閉じる</a></p>
  

    <div class="col">
      <% @tag_list.each do |tag_list| %>
        <span class="div-tag">
          <span class="nomal-tag">
            <%= link_to tag_list.tag_name, admin_items_path(tag_id: tag_list.id) %>
          </span>
          <span class="tag-count">
            <%= "(#{tag_list.items.count})" %>
          </span>
        </span>
      <% end %>
    </div>
  </div>

  
  <div class="row">

  <% @items.each do |item| %>
    <div class="col-md-3 my-3">
      <div class="card card-bg">
          <%= link_to admin_item_path(item) do %>
            <% if item.image.attached? %>
              <%= image_tag item.image, size: "auto", class: "w-100" %>
            <% else %>
              <%= image_tag 'no-image', size: "auto", class: "w-100" %>
            <% end %>
             
          <div class="card-body">
            <h4 class="card-title"><%= item.item_name %></h4>
                  <% end %>
                  <p class="card-text card-color pt-2"><%= item.item_text %></p>
                <ul class="list-group card-color">
                  <li class="list-group">在庫数:<%= item.stock %></li>
                  <li class="list-group">販売ステータス:<%= item.sale_status %></li>
                  <li class="list-group">税抜き価格:&yen;<%= item.no_tax_price %></li>
                  <li class="list-group">税込み価格:&yen;<%= item.on_tax_price %></li>
                </ul>
            <div class="card-tag">
              <% item.tags.each do |tag| %>
              <span class="div-tag">
                <span class="nomal-tag">
                  <%= link_to tag.tag_name, admin_items_path(tag_id: tag.id) %>
                </span>
              </span>
            <% end %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
  </div>

</div>





