<div class="container-fluid">
  <div class="text-center my-4">
    <p class="admin-nav"><%= link_to "管理者ホーム", admin_root_path %> | <%= link_to "商品一覧へ戻る", admin_items_path %></p>
  </div>
  <div class="text-center my-5">
    <h2>商品追加</h2>
  </div>


  <div class="row">
    <div class="col">



<%= form_with model:@item, url: admin_items_path do |f|%>

  <div class="row justify-content-center">
    <div class="col col-sm-2 text-center">
      <h4><%= f.label :image %>:</h4>
    </div>
    <div class="col-sm-2">
      <%= f.file_field :image, accept: "image/*" ,placeholder: "商品画像を選択してください" %>
    </div>
  </div>
  
  <%= f.label :iteme_name, "商品名" %>:
    <%= f.text_field :item_name, class: "form-control" %>
  <%= f.label :iteme_text, "商品説明" %>
    <%= f.text_area :item_text,placeholder: "キャッチコピー・製造元・製造年月・賞味期限など", class: "form-control" %>
  <%= f.label :no_tax_price, "税抜き価格" %>
    &yen;<%= f.text_field :no_tax_price %>
  <%= f.label :sale_status, "販売ステータス" %>
  販売ステータス:<%= f.select :sale_status,[["販売中",0],["販売停止中",1],["入荷待ち",2]] %>
  <br>
  <%= f.label :stock,"在庫数" %>:
  <%= f.select :stock,[*(1..99)], class:"form-select" %>



  タグの追加:
  <p>タグ</p>
    <%= f.text_field :tag_name, placeholder: "タグを複数つけるには空白で区切ってください" %>
    <%= f.submit "投稿" %>
    <button id="clear-button" type="button">クリア</button>
<% end %>

  <!--確認画面から戻るとエラーが出る-->
  <%= render "add_tag", tag_list: @tag_list %>

    </div>
  </div>
</div>