<div class="container-fluid">

  <div class="text-center my-4">
    <p class="admin-nav"><%= link_to "管理者ホーム", admin_root_path %> | <%= link_to "商品追加", new_admin_item_path %></p>
  
  </div>

  <div class="row justify-content-center my-5">

      <%= render "admin/shared/menu", tag_list: @tag_list %>


    <div class="col-sm-2 my-3 mx-2">
          <% if @item.image.attached? %>
            <%= image_tag @item.image, size:"auto", class: "w-100"%>
          <% else %>
            <%= image_tag 'no-image', size: "auto", class: "w-100" %>
          <% end %>

    </div>
    <div class="col col-sm-6 text-center my-3 mx-2">
      <h3 class="bg-item-text"><%= @item.item_name %></h3>
      <div class="col-sm-8 white-text bg-item-text">商品説明
      <br>
        <%= h(@item.item_text).gsub(/\r|\r\n/, "<br>").html_safe %></div>
      <div class="col-sm-3 white-text">在庫数:<%= @item.stock %></div>
      <div class="col-sm-3 white-text">税込価格:<%= @item.on_tax_price %></div>
      <div class="col-sm-3 white-text">税抜価格:<%= @item.no_tax_price %></div>
      <div class="col-sm-4 white-text">販売ステータス<%= @item.sale_status %></div>
    </div>
  </div>
    <div class="row">
      <%= render "item_tags", item: @item  %> 
    </div>

  <div class="col"><%= link_to "商品の編集", edit_admin_item_path(@item), class: "btn btn-primary" %></div>
</div>
