< class="container-fluid">

  <%= render "admin/shared/admin_nav" %>

  <%= render "admin/shared/menu", tag_list: @tag_list %>

  <div class="text-center my-5">
    <h2>会員一覧</h2>
  </div>

    <% @customers.each do |customer| %>

      <%= customer.id %>

      <%= customer.customer_name %>
      <%= customer.customer_name_kana %>

      <%= customer.email %>
      <%= customer.join_address %>
      <%= customer.age %>
      <%= customer.is_deleted %>

    <% end %>
  


  
</div>