<div class="container-fluid mb-5">

  <%= render "admin/shared/admin_nav" %>

  <%= render "admin/shared/menu", tag_list: @tag_list %>

  <div class="text-center my-5">
    <h2>会員詳細</h2>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <h3>会員ID</h3>
      </div>
      <div class="col"></div>
    </div>
  </div>





      <%= @customer.id %>
      <%= @customer.customer_name_kana %>
      <%= @customer.customer_name %>
      <%= @customer.email %>
      【電話番号】</small><%= @customer.tel_number %>
              <div class="col"><p><small>【住所1】</small><%= @customer.join_address %></p></div>
              <div class="col"><p><small>【住所2】</small><%= @customer.address_other %></p></div>

          <td class="text-center"><p><%= @customer.is_deleted %></p></td>    

</div>