<div class="container-fluid">


  <!--画面右に固定する-->
  <%= render "public/shared/menu", tag_list: @tag_list %>



  <div class="text-center my-5">
    <h2><%= @index %>一覧</h2>
  </div>
  
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-3 my-3">
        <div class="card card-bg">
          <%= link_to item_path(item) do %>

            <% if item.image.attached? %>
              <%= image_tag item.image, size:"auto", class: "w-100" %>
            <% else %>
              <%= image_tag 'no-image', size: "auto", class: "w-100" %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title"><%= item.item_name %></h4>
          <% end %>

          <%# お気に入りと、カートに入れる。if文で切り替え。positionで商品画像のボトムに横並び配置 %>
          <%# ハートと、カートのマークをネオンにしたい %>
            <div class="row text-center itemBtn">
              
              <span class="col">
                <span class="favoIN">♡</span>
              </span>
              <span class="col">
                <span class="cartIN"><i class="fas fa-cart-plus"></i></span>
              </span>
              <%# <span class="col"><i class="fas fa-times"></i>売り切れ中</span> %>
            </div>

                <p class="card-text card-color rem-font pt-2"><%#= item.item_text %>☆5平均評価とレビュー数(数)配置</p>
                  <ul class="list-group card-color rem-font">
                    <li class="list-group">在庫数:
                    <% if item.stock > 10 %>
                      <%= item.stock %></li>
                    <% elsif item.stock > 1 %>
                      <%= item.stock %></li>残りわずか
                    <% else %>
                      売り切れ
                    <% end %>
                    <li class="list-group">販売ステータス:<%= item.sale_status_i18n %></li>
                    <li class="list-group">税抜き価格:&yen;<%= item.no_tax_price %></li>
                    <li class="list-group">税込み価格:&yen;<%= item.on_tax_price %></li>
                  </ul>

              <%= render "item_tags", item: item  %> 
            </div>
        </div>
      </div>
    <% end %>
    
    <div class="text-center"><%= paginate @items %></div>
    
  </div>
</div>





