<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>MidnightBar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

  </head>

  <body>


    <!--バニーガールの画像をクリックすると、ナビが出てくる。TOPページにはでないようにしたい-->
    <% if current_page?(home_path || customer_path ) %>
    <div class="toggle-menu">
      <%= image_tag "menu_bunnygirl.png", size:"120x120" %>
    </div>
    <nav class="menu">

      <% if customer_signed_in? %>
        <div><%= link_to "会員証を見る(マイページ)" %></div>
        <div><%= link_to "注文票を見る(カート内)" %></div>
        <div><%= link_to "サインアウト", destroy_customer_session_path,method: :delete %></div>

      <% else %>
        <div><%= link_to "会員登録したい(新規登録)", new_customer_registration_path %></div>
        <div><%= link_to "サインイン", new_customer_session_path %></div>
      <% end %>
        <div><%= link_to "商品を見せて(商品一覧)" %></div>
        <div><%= link_to "店から出る(TOP)", root_path %></div>
    </nav>
    <% end %>

    <% if admin_signed_in? %>
      <div>link_to "会員一覧", </div>
    <% else %>
    <% end %>

    <div class="col text-center alert-danger">
      <%= flash[:notice] %>
    </div>
    
    

    <%= yield %>
    
    <header>
      <div class="text-center my-5">
        <small>&copy; 2023 kamishubaizumo</small>
      </div>
    </header>
  </body>
</html>
